@import "~styles/variables";

$text-default-color: #9b9b9b;
$teams-background-color: #4b6884;
$sub-participants-color: #635959;
$markets-color-grey: #dadada;
$markets-grey: #757575;

.add-selections {
  float: right;
}

.selections {
  background-color: $markets-color-grey;
  border-radius: 3px;
  display: inline-block;
  width: 100%;

  h3 {
    padding: 0.5em 0 0.5em 1em;
    float: left;
    color: $markets-grey;

    strong {
      margin-left: 11px;
    }
  }
}
