@import "~styles/variables";

.input-container {
  &.disabled {
    .form-control{
      pointer-events: none;
      background: rgba($color-black, 0.2);
    }
  }

}

.select-container {
  &.disabled {
    .Select-control{
      pointer-events: none;
      background: rgba($color-black, 0.2);
    }
  }

}