@import "~styles/variables";

.base-content {
  padding-top: 64px;
}

.side-nav-container {
  transition: width 0.5s;
  padding: 0;
  background: $color-dark-grey;

  &.active {
    transition: width 0.4s;
    width: 65px;
  }
}
