@import '~styles/variables';

.add-sub-participant {
  width: 36px;
  height: 36px;
  line-height: 1;
  border-radius: 50%;
  text-align: center;
  padding: 0;

  i {
    font-weight: 600;
    font-size: 16px;
  }
}

.modal-title {
  text-align: center;
}

.submit-league {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  margin: 2em auto;
}

.submit-btn-container {
  text-align: center;
}

.input-container {
  padding: 20px 0 20px 15px;
  margin-bottom: 1.5em;
  font-size: 14px;
}
