.odds {
  position: relative;
  display: inline-block;
  width: 50%;

  &.numenator:before {
    content: '/';
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: -60%;
    transform: translateY(-50%);
  }
}

.selections-participants-body  td {
  text-align: center;
  vertical-align: middle !important;
}

.selections-participants-header th {
  text-align: center;
}

.hidden-inputs {
  display: none;
}
