@import "~styles/variables";

.edit-event {
  text-align: center;
  outline: none !important;
  background: transparent !important;
  border: none;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }

  i {
    font-size: 20px;
    color: $color-white;
  }
}

.modal-title {
  text-align: center;
}

.submit-league {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  margin: 2em auto;
}

.submit-btn-container{
  text-align: center;
}

.input-container {
  padding: 20px 0 20px 15px;
  margin-bottom: 1.5em;
  font-size: 14px;
}
