@import "~styles/variables";

$edit-sub-participant-color: #9a9999;
$edit-sub-participant-label-color: #333;

.edit-sub-participant {
  background-color: transparent;
  padding: 9px 12px;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }

  i {
    font-size: 20px;
    color: $edit-sub-participant-color;
  }
}

.modal-wrapper {
  float: right;
}

.modal-title {
  text-align: center;
}

.submit-league {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  margin: 2em auto;
}

.submit-btn-container{
  text-align: center;
}

.sub-participant-select {
  margin-bottom: 1.5em;

  .label {
    font-weight: bold;
    color: $edit-sub-participant-label-color;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-bottom: 7px;
  }
}

.input-container {
  padding: 20px 0 20px 15px;
  font-size: 14px;
}
