@import "~styles/variables";

$text-default-color: #9b9b9b;
$grey-color: #dddddd;
$light-grey-color: #f5f5f5;

.leagues-container {
  position: relative;
}

.add-participant {
  position: fixed;
  bottom: 0.5em;
  right: 1em;
  z-index: 99;
}

.wrap-element {
  padding-bottom: 5.5em;
  border-top: 1px solid #ddd;
}
.participants-wrapper {
  background:$light-grey-color;
  border-top: 1px solid #ddd;
}

.participants-list {
  width: 100%;
  margin-bottom: 8px;
  //border-top: 1px solid #ddd;


  .participant-label {
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid #ddd;

  }

  .list-item {
    font-size: 14px;
    color: $color-dark-black;
    height: 4.5em;
    background: $color-white;
    padding: 1em;
    border: 0.5px none #dddddd;
    border-bottom-style: solid;
    // width: calc(100% + 18px);

    &:last-child {
      border-top: none;
    }

    .sub-participant {
      height: 4.5em;

      span {
        font-size: 14px;
      }
    }
  }
}

.participants-team {
  .participants-team-info {
    font-size: 16px;
    margin-top: 6px;
  }
}

.participants-team-btn {
  float: right;
  padding-right: 6px;

  .action-button{
    display: inline-block;
    margin: 0 0.5em;
  }
}

.sub-participant-activity {
  float: right;
}
