@import 'variables';
@import 'loader';
@import 'date-picker';
@import 'radio';
@import 'target-input';

html,body {
  height:100%;
}

.main-container {
  width: 100%;
  height: 100%;
  min-height:100%;
}

.row-eq-height {
  display: flex;
}

.label {
  display: inline-block;
  color: $color-black;
  font-size: 18px;
  padding: 6px 0px;

  &.big {
    font-size: 28px;
  }

  &.medium {
    font-size: 22px;
  }

  &.small {
    font-size: 16px;
  }

  &.left {
    margin-right: 10px;
    float: left;
  }

  &.right {
    margin-left: 10px;
    float: right;
  }

  &.white {
    color: $color-white;
  }
}

.submit-modal-btn {
  text-align: center;

  button {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    margin: 2em auto;
  }
}

label {
  color: $color-black;
}

.input-container {
  padding: 0;
  margin-bottom: 1.5em;
  font-size: 14px;
  color: transparent !important;
}


.error-message {
  color: $error-color;
}

.add-btn-container {
  position: fixed;
  bottom: 0.5em;
  right: 1em;
  z-index: 10;
}

.bg-white {
  background: $color-white;
}

.detail-view {
  h5 {
    display: inline-block;
  }
}

.status-label {
  color: $color-white;
  margin: 0 12px;
  background-color: $status-color-default;
  font-size: 16px;
  padding: 6px 30px;

  &.restriction {
    background-color: $restriction-label;
  }

  &.roles {
    background-color: $restriction-roles;
  }
}

.side-nav {
  z-index: 5;
  background: $color-dark-grey;
  height: 100%;
}

.btn{
  &--last-created {
    border: 0;
    background: transparent;
    padding: 5px 10px;
    color: $color-white;
    font-size: 18px;
  }
}

.event-group-chains .modal-dialog {
  width: 90%;
  min-height: 95vh;
}

.event-group-chains .modal-dialog .modal-content {
  min-height: 100%;
}

.circle-button {
  width: 36px;
  height: 36px;
  line-height: 1;
  border-radius: 50%;
  text-align: center;
  padding: 0;

  &.-big {
    margin-top: 4px;
    width: 60px;
    height: 60px;
  }

  i {
    font-weight: 600;
    font-size: 16px;
  }
}

table {
  overflow: auto !important;
}

.Select-input {
  width: 100%;
  padding: 0 10px;
}

.Select-input > input {
  width: 100% !important;
  height: 100%;
  padding: 0 !important;
}

.panel-element {
  &--title {
    padding: 10px 15px;
    color: $color-dark-black;
    background-color: #f5f5f5;

    a {
      color: $color-dark-black;
      text-decoration: none;
    }
  }
}

.panel-container {
  &--no-expanded {
    border-radius: 4px;
    margin: 15px;
    border: 1px solid $border-color;
  }

  &--expanded {
    margin: 15px;
    border-radius: 4px;
    border: 1px solid $border-color;
  }
}

.panel-element--body {
  &--no-expanded {
    height: 0;
  }
}

.panel-element--body {
  transition: all 0.5s;
  transform: scale(0.4);
  overflow: hidden;
  max-height: 0;

  &--expanded {
    transform: scale(1);
    transition: all 0.5s;
  }
}

.add-markets {
  margin-top: -26px;
}

.selections-panel-header {
  font-size: 18px;
  color: $color-dark-black;
  padding: 4px;
  float: left;

  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.events-filter {
  font-size: 18px;
  margin-top: 5px;
  float: right;
}

.filter-container {
  width: 10%;
  float: right;
  margin-top: 19px;
}

.select-pull-left {
  float: left;
  width: 90%;
}

.table {
  thead {
    tr {
      th {
        &:last-child {
          > div {
            text-align: right !important;
          }
        }
      }
    }
  }
}

.list-permissions {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
}

.permission-list-info {
  padding-left: 10px;
  line-height: 37px;
}

.event-chains-filter-button {
  margin: 10px 0;
  width: 100%;
  padding: 5px 10px !important;
  border-radius: 4px !important;
}

.dropDownChains .dropdown {
  width: 100% !important;
}

.events-list-container {
 max-height: 600px;
  overflow-y: auto;
  text-align: left;
}
