.date-picker-control {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 8px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker {
  font-size: 1.2rem;
}

.react-datepicker__current-month, .react-datepicker-time__header {
  font-size: 1.2rem;
}