@import 'variables';

.browser-screen-loading-content {
  text-align: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background: rgba($color-black, 0.6);
  margin: auto;
}

.loading-dots {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -1.5em;
  opacity: 0;
  filter: alpha(opacity=0);
  animation: loading-dots-fadein .6s linear forwards;
}

.loading-dots i {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  vertical-align: middle;
  background: $loader-spinner-color-grey-light;
  border-radius: 50%;
  margin: 0 .5em;
  animation: loading-dots-middle-dots .6s linear infinite;
}

.loading-dots.dark-gray i {
  background: $loader-spinner-color-grey-dark;
}

.loading-dots i:first-child {
  animation: loading-dots-first-dot .6s linear infinite;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-1em);
}

.loading-dots i:last-child {
  animation: loading-dots-last-dot .6s linear infinite;
}

@keyframes loading-dots-fadein{
  100%{
    opacity:1;
    filter:none;
  }
}

@keyframes loading-dots-first-dot{
  100%{
    transform:translate(1em);
    opacity:1;
    filter:none;
  }
}

@keyframes loading-dots-middle-dots{
  100%{
    transform:translate(1em);
  }
}

@keyframes loading-dots-last-dot{
  100%{
    transform:translate(2em);
    opacity:0;
    filter:alpha(opacity=0);
  }
}
