@import '~styles/variables';

$radioBorderColor: #cdcdcd;
$radioBackgroundColor: #f5f5f5;
$radioBackgroundColorCheckedColor: #4a90e2;
$radioLabelColor: #56bc59;

.radio {
  display: inline-block;
  width: 100%;
  white-space: nowrap;

  input {
    display: none;
  }

  .labelImg {
    display: inline-block;
    margin-right: 15px;
    margin-top: -12px;
    max-width: 100%;
  }

  .labelImageChecked {
    margin-top: -12px;
    max-width: 100%;
    display: none;
  }

  .labelTextImg {
    line-height: 21px !important;
  }

  input:checked + span {
    opacity: 1;

    .labelText {
      background-color: $radioBackgroundColorCheckedColor;
      color: $color-white;
    }

    .labelImg {
      display: none;
    }

    .labelImageChecked {
      display: inline-block;
    }
  }

  span {
    opacity: 0.5;
    background: #dcdbdb;
    border: 1px solid $radioBorderColor;
    padding: 15px 25px;
    line-height: 10px;
    transition: all .2s;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    cursor: pointer;

    &.disabled {
      background: $radioBackgroundColor !important;
      color: $radioLabelColor !important;
      border: 1px solid $radioBorderColor !important;

      .labelText {
        background: $radioBackgroundColor !important;
        color: $radioLabelColor !important;
      }
    }

    .labelText {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 67px;
      min-width: 30px;
      margin-top: -4px;
      padding: 0;
      line-height: 18px;
      border: 0;
    }
  }
}