body {
  padding: 0;
  margin: 0;
}

.modal-dialog {
  height: 95vh;
  overflow: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus,
.btn:active:focus, .btn:focus {
  outline: none;
}

a {
  cursor: pointer;
}

.ReactTable {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  .rt-th {
    overflow: visible;
  }

  .rt-thead {
    [role="columnheader"] {
      outline: 0;
    }

    &.-filters {
      .Select-input input {
        border: none;
      }

      input.input-filter {
        height: 100%;
        border: 1px solid #ccc;
        font-weight: bold;
      }

    }

    .rt-tr {
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;

      &:first-child {
        border-top: none;
      }
    }

    .rt-th, .rt-td {
      font-weight: bold;
      text-align: left;

      &.-sort-asc, &.-sort-desc {
        box-shadow: inset 0 0px 0 0 rgba(0,0,0,0.6);
        color: #337ab7;
      }
    }
  }

  .rt-thead.-header {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .rt-tr {
      padding: 5px;
    }

    .rt-th {
      border-right: none;
    }

    .rt-th:last-child > div {
      text-align: right !important;
      span {
        width: 100%;
        padding-right: 15px;
      }
    }
  }
}

/* Hack to add arrows to React-Table header when a column is sorted */
.ReactTable .rt-thead .rt-th.-sort-asc,.ReactTable .rt-thead .rt-td.-sort-asc {
  div:first-child:after {
    content: "\E093";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-left: 3px;
    -webkit-font-smoothing: antialiased;
  }
}

.ReactTable .rt-thead .rt-th.-sort-desc,.ReactTable .rt-thead .rt-td.-sort-desc {
  div:first-child:after {
    content: "\E094";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-left: 3px;
    -webkit-font-smoothing: antialiased;
  }
}