@import "~styles/variables";

$color-grey: #d9d9d9;
$color-green: #55d069;
$color-white: #ffffff;

.target-update-checkbox {
  float: left;
  margin-right: 10px;
  position: absolute;
  top:50%;
  left: 0;
  transform: translateY(-50%);
}

.target-input-container {
  position: relative;
  width: 160px;
  height: 65px;
}

.input-container.target-input {
  position: relative;
  padding: 0;
  max-width: 110px;
  float: right;
  background: transparent !important;
  z-index: 99;

  &.disabled {
    .form-group {
      &:after {
        content: '';
        display: none;
        background: transparent;
      }
    }
  }

  .form-group {
    margin-bottom: 0;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 21px;
      z-index: 100;
      background: rgba(#000, 0.2);
    }
  }
}

.target-input-switcher{
  width: 40px;
  top: 20px;

  input[type="checkbox"].switcher {
    position: absolute;
    margin: 8px 0 0 16px;

    + label {
      position: relative;
      padding: 30px 0 0 50px;
      margin-right: 15px;
      line-height: 2em;

      span {
        display: none;
      }

      &:before {
        content: " ";
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 40px;
        height: 24px;
        border-radius: 16px;
        background: $color-white;
        border: 1px solid $color-grey;
        transition: all 0.3s;
      }

      &:after {
        content: " ";
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        border-radius: 16px;
        background: $color-white;
        border: 1px solid $color-grey;
        transition: all 0.3s;
      }

      &:hover:after {
        box-shadow: 0 0 5px rgba($color-black, 0.3);

      }
    }

    &:checked + label {

      &:after {
        margin-left: 16px;
      }

      &:before {
        background: $color-green;
      }
    }
  }
}
