$color-white: #ffffff;
$color-black: #000000;
$color-dark-black: #333333;
$error-color: #a94442;
$status-color-default: #41b7b3;
$loader-spinner-color-grey-dark: #f1f1f1;
$loader-spinner-color-grey-light: #e0e0e0;
$color-dark-grey: #6c757d;
$border-color: #dddddd;
$restriction-label: #b74141;
$restriction-roles: #41b78c;
