$edit-sub-participant-label-color: #333;

.add-button {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50px;
  outline: none !important;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }

  i {
    font-size: 3em;
    line-height: 2em;
  }
}

.modal-title {
  text-align: center;
}

.submit-league {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  margin: 2em auto;
}

.submit-btn-container {
  text-align: center;
}

.input-container {
  padding: 20px 0 20px 15px;
  margin-bottom: 1.5em;
  font-size: 14px;
}

.outcome-input-container {
  text-align: center;

  .form-group {
    display: inline-block;
    margin-left: 4.5em;

    &:last-child {
      margin-right: 4.5em;
      position: relative;

      &:after {
        content: '-';
        position: absolute;
        top: 60%;
        left: -45%;
        transform: translate(-50%, -50%);
        font-size: 49px;
      }
    }

    .form-control {
      width: 5em;
      padding: 30px 12px;
    }
  }
}

.outcomes-types-selector {
  margin-bottom: 1.5em;

  .label {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: $edit-sub-participant-label-color;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-bottom: 22px;
  }
}
