$edit-sub-participant-label-color: #333;

.edit-league {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50px;
  outline: none !important;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }

  i {
    font-size: 3em;
    line-height: 2em;
  }
}

.modal-title {
  text-align: center;
}

.submit-league {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  margin: 2em auto;
}

.submit-btn-container{
  text-align: center;
}

.input-container {
  padding: 20px 0 20px 15px;
  margin-bottom: 1.5em;
  font-size: 14px;
}

.sub-participant-select {
  margin-bottom: 1.5em;

  .label {
    font-weight: bold;
    color: $edit-sub-participant-label-color;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-bottom: 7px;
  }
}