$titleColor: #34495e;

.apiList {
  margin-top: 15px;
  cursor: default;

  .apiListTitle {
    font-weight: bold;
    color: $titleColor;
    font-size: 15px;
  }

  .apiListLinks {
    margin-left: 10px;

    span {
      display: inline-block;
      min-width: 100px;
      font-size: 13px;
      font-weight: bold;
    }

    a {
      font-weight: bold;
    }
  }

}