.add-contests {
  position: fixed;
  bottom: 0.5em;
  right: 1em;
  z-index: 99;
}

.contest-detail-view {
  float: left;
  margin-right: 15px;
}

.filter-table-grid {
  .Select.Select--multi.has-value {
    position: relative;
    width: 100%;
    max-width: 240px;
    left: -100px;
    .Select-value {
      white-space: nowrap;
    }
  }
}

// old contests-grid styles
.contests-container .panel.panel-default .table-responsive table {
  overflow: auto !important;
}

.filter-grid-container {
  position: relative;
}

.contests-container .panel.panel-default {
  margin-bottom: 0;
}

.filter-hidden-columns .panel.panel-default {
  .list-group {
    max-height: 500px;
    overflow-y: auto;
  }
}

.filter-hidden-columns {
  position: absolute;
  right: 10px;
  top: 64px;
  z-index: 2;
  width: 300px;
  display: none;

  &.active {
    display: block;
  }
}

.table-settings {
  z-index: 4;
  margin-top: 23px;
  padding: 12px 12px 6px 14px;
  float: right;
  position: absolute;
  right: 15px;
  border-radius: 4px 4px 0 0;

  i {
    display: block;
    float: left;
    margin-right: 10px;
  }

  span {
    display: block;
    margin-top: 0px;
    float: right;
  }
}

.filter-table-grid {
  margin-top: 3em;
}
