@import "~styles/variables";

.modal-wrapper {
  float: right;
}

.modal-title {
  text-align: center;
}

.select-container {
  margin-bottom: 1.5em;
}

.submit-league {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  margin: 2em auto;
}

.submit-btn-container{
  text-align: center;
}

.input-container {
  padding: 20px 0 20px 15px;
  margin-bottom: 1.5em;
  font-size: 14px;
}