.add-button {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50px;
  outline: none !important;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }

  i {
    font-size: 3em;
    line-height: 2em;
  }
}

.modal-title {
  text-align: center;
}

.submit-league {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  margin: 2em auto;
}

.submit-btn-container {
  text-align: center;
}

.select-container {
  margin-bottom: 1.5em;
}

.input-container {
  padding: 20px 0 20px 15px;
  margin-bottom: 1.5em;
  font-size: 14px;
}
