@import "~styles/variables";

$text-default-color: #9b9b9b;
$grey-color: #dddddd;

h3 {
  font-size: 20px;
  letter-spacing: 1px;
  padding: 1em 0;
  color: $text-default-color;
  margin: 0;
}

.markets-list {
  .list-item {
    margin: 0;
    font-size: 14px;
    color: $color-dark-black;
    height: 4.5em;
    background: $color-white;
    border: 1px solid $grey-color;
  }
}

.event-markets-container {
  max-height: 0;
  overflow: hidden;
  transition: all 4s;
  transition-delay: 0.2s;
  display: none;

  &.active {
    display: block;
    max-height: 9999px;
  }
}

.list-item.teams {
  border-radius: 3px;
  transition: all 0.2s;

  &:hover {
    opacity: 0.9;
  }

  &.active {
    opacity: 0.9;
  }
}

.add-markets {
  float: right;
  margin-top: -4px;
}

.add-participant {
  position: fixed;
  bottom: 0.5em;
  right: 1em;
  z-index: 99;
}